/*
  // ============================================= //
  // Global CSS/SCSS Imports                       //
  // ============================================= //

    This file is for static imports from assets,
    images or from the node_modules folder.

    Please refrain from importing an asset within a
    partial scss file. This will cause pathing
    issues because the partial is then imported
    from the main 'src/styles/index.scss' file. For
    simplicity, import static fonts, images, and
    stylesheets from within in this file.

    local stylesheets:
    @import '../assets/styles/stylesheet.(s)css'

    local fonts:
    src: url('../assets/fonts/font.ext') format('ext')

    local images:
    src: url('../../images/imageFile.ext');

    node_modules (must be imported with a tilda (~)):
    @import '~ModuleName/path/to/stylesheet.(s)css';

    Component-level scss imports are similiar to the
    above examples as long as they contain relative
    pathing to the asset and are NOT partial scss
    files.
*/

@import "~react-toastify/dist/ReactToastify.css";

@font-face {
  font-family: "Poppins Light";
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/Poppins-Light.ttf") format("truetype");
}
