{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "actions": "./src/actions",
          "components": "./src/components",
          "containers": "./src/containers",
          "images": "./src/images",
          "pages": "./src/pages",
          "reducers": "./src/reducers",
          "root": "./src/root",
          "routes": "./src/routes",
          "styles": "./src/styles",
          "types": "./src/types",
          "utils": "./src/utils"
        }
      }
    ],
    "@babel/plugin-transform-runtime",

    // Stage 2 https://github.com/babel/babel/tree/master/packages/babel-preset-stage-2
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "@babel/plugin-proposal-function-sent",
    "@babel/plugin-proposal-export-namespace-from",
    "@babel/plugin-proposal-numeric-separator",
    "@babel/plugin-proposal-throw-expressions",

    // Stage 3
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-syntax-import-meta",
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    "@babel/plugin-proposal-json-strings"
  ]
}
