@import "../../styles/styles.scss";

.buttonStyle {
  cursor: pointer;
  color: $white;
  background-color: $lightblue;
  border: 0;
  font-size: 16px;
  font-family: "Muli Regular", "Helvetica-Light", Helvetica, Arial, sans-serif;
  line-height: 38px;
  padding: 10px;
  padding: 8px 16px;
  text-align: center;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  text-transform: uppercase;
  outline: none;

  &:hover {
    text-decoration: none;
    background-color: $teal;
  }
}
