@import '../../styles/styles.scss';

.popMessageContainer {
  position: fixed;
  top: 10px;
  display: grid;
  z-index: 1000;
  width: 100%;
}

.popMessageInnerContainer {
  padding: 15px;
  margin: 0 auto;
  background: $white;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.popMessageStyle {
  margin: 0 10px;
  font-family: 'Muli Regular', 'Helvetica-Light', Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  display: inline-block;
}
