@import '../../styles/styles';

.app {
  @extend %t-a-c;
  height: 100vh;
  color: $blue;
  background-color: $black;
}

.logoContainer {
  @extend %centered;
  font-family: $rubik;
  color: $warmgrey;
  min-height: 100vh;
}

.logoStyle {
  height: 20vh;
  margin-bottom: 20px;
}