.messageBody {
  flex-grow: 1;
  font-size: 15px;
  padding: 8px 12px;
}

.messageContainer {
  display: flex;
  color: white;
}

.messageIcon {
  font-size: 15px;
  padding-top: 6px;
  flex-shrink: 0;
  text-align: center;
  width: 30px;
}
