$charges: #3256a7;
$messages: #1fa2bf;
$navyblue: #114678;
$darkblue: #31708f;
$rbblue: #3b89b5;
$blue: #1890ff;
$skyblue: #029ade;
$tealblue: #0585bf;
$lightblue: #03a9f3;
$hoverblue: #27b3f1;
$inactiveblue: #98d7f3;
$greyblue: #91d5ff;
$deepblue: #005cbf;
$bluegrey: #8f979f;
$paleblue: #e9f1f7;
$paleformblue: #eaf5ff;
$offwhiteblue: #f7f9ff;
$verylightblue: #e6f7ff;
$whiteblue: #f9f9fb;
$blackblue: #2e323b;
$darkgreyblue: #4a515e;

$bloodred: #a63920;
$error: #f44336;
$firered: #f56342;
$formerror: #f5222d;
$palered: #997f79;
$peach: #a26b5e;
$red: #d03916;

$orange: #e04d2d;
$trueorange: #ff7200;
$lightorange: #f47560;
$redorange: #be391c;
$paleorange: #fdb4a5;
$pink: #ff778a;
$fuchsia: #c55d5d;

$lightgreen: #d0e9c6;
$green: #3c763d;
$neutralgreen: #64885b;
$limegreen: #419837;
$palegreen: #dff0d8;
$tealgreen: #00c292;
$bluegreen: #00a695;
$brightgreen: #4ac53c;

$gold: #8a6d3b;
$darkyellow: #ffaa00;
$lightyellow: #fcf8e3;
$paleyellow: #faebcc;

$lightwarmgrey: #aba4a2;
$softwarmgrey: #a5a1a1;
$lightcoolgrey: #cbcbcb;
$neutrallightgrey: #cccbcb;
$lightgrey: #d3d3d3;
$nodata: #bbbbbb;
$neutralgrey: #b3b3b3;
$disabledgrey: #b9b6b6;
$warmgrey: #686868;
$semidarkgrey: #6c6462;
$darkwarmgrey: #665c5b;
$darkgrey: #7d7d7d;
$darkbrown: #3a4141;
$darkerbrown: #333333;
$lightbrown: #4d4d4d;
$darkergrey: #5d5c5c;
$menugrey: #676b70;
$black: #282828;
$readnoteborder: #d9d9d9;
$hortizonalhr: #ededed;
$white: #ffffff;
$background: #f0f0f0;
$lightwhite: #f2f2f2;
$disabled: #f5f5f5;
$darkwhite: #efefef;
$darkerwhite: #e8e8e8;
$owhite: #f8f9fa;
$cream: #fafafa;
$cream2: #f8f8f8;
$offwhite: #fbe2dd;
$notificationwhite: #faf9fa;
$formgrey: #f0f0f0;

$violet: #8e4479;

$tblue: rgba(3, 44, 243, 0.5);
$tblack: rgba(0, 0, 0, 0.65);
$tlightblack: rgba(0, 0, 0, 0.4);
$thoverblue: rgba(39, 179, 241, 0.12);
$tlightgrey: rgba(72, 80, 99, 57);
$tlblu: rgba(3, 169, 243, 0.5);
$twhite: rgba(255, 255, 255, 0.65);
$transparent: rgba(0, 0, 0, 0);
