/*
  // ============================================= //
  // Application Shared SCSS Imports               //
  // ============================================= //

   These should be partial scss files that must
   follow the naming convention (underscore, name,
   extension): _example.scss

   Partial scss files allow you to share variables,
   extensions, mixins, layouts, etc with any
   component-level scss file.

   The idea is to contain each component within
   its own folder containing: one JS file, one
   stylesheet, and one test file.

   Simply import this file from a within component
   scss file to utilize shared classes. See example
   below.

  // ============================================= //
  // Example.scss                                  //
  // ============================================= //
   @import '/relative/path/to/styles/index';

   exampleContainer {
     @extend %centered; // (extended from _ext.scss)
     color: $blue; // (variable from _vars.scss)
     font-family: $poppinslight;
   }

  // ============================================= //
  // Example.js                                    //
  // ============================================= //
   import React from 'react';
   import { exampleContainer } from './Example.scss';

   const Example = () => (
     <div className={exampleContainer}>
       <h1>
         I'm contained within the exampleContainer!
       <h1>
     </div>
   )

   export default Example;
*/

@import "./variables/vars";
@import "./helpers/ext";
@import "./helpers/mixins";
@import "./base/base";
@import "./animations/anim";
@import "./components/icons";
