@import "../../styles/styles.scss";

.appContainer {
  background-color: $white;
  font-family: "Muli Extra Light", "Helvetica-Light", Helvetica, Arial,
    sans-serif;
  letter-spacing: 1px;
  color: $lightblue;
}
