@import "../../styles/styles.scss";

.app {
  height: 100vh;
  text-align: center;
  color: $blue;
  background-color: $navyblue;
}

.logoContainer {
  @extend %centered;
  color: $white;
  min-height: 100vh;
}

.logoStyle {
  @include anim(flipIn infinite 2s linear);
  height: 40vh;
}

.title {
  margin: 0;
}
