@mixin anim($anim) {
  -webkit-animation: $anim;
  animation: $anim;
}
@mixin b-s($shadows...) {
  -moz-box-shadow: $shadows;
  -webkit-box-shadow: $shadows;
  box-shadow: $shadows;
}
@mixin s($select) {
  -webkit-user-select: $select;
  -moz-user-select: $select;
  -ms-user-select: $select;
  user-select: $select;
}
@mixin trans($anim...) {
  -o-transition: $anim;
  -ms-transition: $anim;
  -moz-transition: $anim;
  -webkit-transition: $anim;
  transition: $anim;
}
@mixin transY($scale) {
  -o-transform: scaleY($scale);
  -ms-transform: scaleY($scale);
  -moz-transform: scaleY($scale);
  -webkit-transform: scaleY($scale);
  transform: scaleY($scale);
}
