@import "../../styles/styles.scss";

.backgroundDetails {
  overflow-wrap: break-word;
  word-wrap: break-word;

  p {
    color: $neutralgrey;
    font-size: 16px;
  }
}

.container {
  width: 800px;
  margin: 0 auto;
  padding: 10px;
  text-align: left;
  font-family: "Muli Regular", "Helvetica-Light", Helvetica, Arial, sans-serif;
}

.emailDetails {
  margin-left: 5px;
  font-size: 14px;
}

.gridColumn {
  background-color: $white;
  padding: 10px;
  margin-bottom: 0;
  flex: 1;
  min-width: 1px;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  padding-left: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

.listDetails {
  margin-top: 5px;
  font-size: 14px;
  padding: 0;
  list-style: none;
  line-height: 1.4;
  color: #999;

  li {
    display: inline-block;
  }
}

.userTitle {
  margin: 0;
  font-size: 30px;
  line-height: 1.4;
}

.user {
  color: #666;
  margin: 0;
}
