@import "../../styles/styles.scss";

.preventScroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

.seedLinkStyle {
  cursor: pointer;
  display: block;
  color: #007ec5;
  font-size: 16px;
  font-family: "Muli Regular", "Helvetica-Light", Helvetica, Arial, sans-serif;
  padding: 10px;
  text-align: center;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  text-transform: uppercase;
}

.usersContainer {
  min-height: 100vh;
  background: $grey;
  text-align: center;
}
