@import "../../styles/styles.scss";

.editIconStyle {
  color: #4691f6;
  path,
  polygon,
  rect {
    fill: #4691f6;
  }
  circle {
    stroke: #4691f6;
    stroke-width: 1;
  }
}

.editButtonStyle {
  cursor: pointer;
  background-color: transparent;
  outline: 0;
  border: none;
  color: inherit;
  transition: 0.1s ease-in-out;
  transition-property: color;
  opacity: 0.4;

  &:hover,
  &:focus {
    color: inherit;
    outline: none;
    opacity: 0.8;
  }
}
