@import '../../styles/index';

.app {
  @extend %t-a-c;
  height: 100vh;
  color: $blue;
  background-color: $navyblue;
}

.logoContainer {
  @extend %centered;
  font-family: $rubik;
  color: $white;
  min-height: 100vh;
}

.logoStyle {
  @include anim(flipIn infinite 2s linear);
  height: 40vh;
}