@import '../../styles/colors';
@import '../../styles/mixins';
@import '../../styles/ext';
@import '../../styles/anim';

html,
body {
  @extend %m-0;
}

.app {
  @extend %t-a-c;
  height: 100vh;
  color: $blue;
  background-color: $navyblue;
}

.logoContainer {
  @extend %centered;
  color: $white;
  min-height: 100vh;
}

.logoStyle {
  @include anim(flipIn infinite 2s linear);
  height: 40vh;
}
