// blues
$deepsea: #010f13;
$lightblue: #007ec5;
$teal: #0d9aea;

// reds
$red: #f5222d;
$palered: #fef4f6;

// desaturates
$black: #282828;
$darkgrey: #7d7d7d;
$darkwarmgrey: #665c5b;
$lightergrey: #f7f7f7;
$semilightgrey: #d4d3d3;
$grey: #f8f8f8;
$lightgrey: #e4e4e4;
$neutralgrey: #666;
$transparentblack: #151515bf;
$white: #fff;
