@import '../../styles/styles.scss';

.closeButton {
  cursor: pointer;
  background-color: transparent;
  outline: 0;
  border: 0;
  color: inherit;
  transition: 0.1s ease-in-out;
  transition-property: color;
  opacity: 0.4;

  &:hover,
  &:focus {
    color: inherit;
    outline: none;
    opacity: 0.8;
  }
}
