@import '../../styles/styles';

.notfoundContainer {
  @extend %centered;
  height: 100vh;
  background-color: $black;
}

.notfound {
  color: $black;
  background-color: $white;
  font-family: $rubik;
  padding: 100px;
}