@import "../../styles/styles.scss";

.cancelContainer {
  float: left;
}

.formButtons {
  padding: 0 10px;
}

.formContainer {
  margin: 0 auto;
  text-align: left;
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

.formErrorStyle {
  padding: 0 10px;
}

.submitContainer {
  // margin: 10px 10px 20px 0;
  margin-bottom: 10px;
  float: right;
}
