@import "../../styles/styles.scss";

.notfoundContainer {
  @extend %centered;
  height: 100vh;
  background-color: $navyblue;
}

.notfound {
  color: $navyblue;
  background-color: $white;
  padding: 100px;
  text-align: center;
}
