.clear-fix {
  content: '';
  display: table;
  clear: both;
}
%bb-none {
  border: none !important;
}
%b-0 {
  border: 0;
}
%br-0 {
  border-radius: 0px;
}
%brk-ww {
  word-wrap: break-word;
}
%bs-bb {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
%bs-none {
  box-shadow: none !important;
}
%centered {
  @extend %d-f, %t-a-c;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
%d-b {
  display: block;
}
%d-i {
  display: inline;
}
%d-ib {
  display: inline-block;
}
%d-f {
  display: flex;
}
%d-n {
  display: none;
}
%disabled {
  cursor: not-allowed !important;
}
.fa {
  margin-right: 5px;
}
.fix-cursor {
  cursor: pointer;
}
.flex-wrap-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.f-l {
  float: left;
}
.f-r {
  float: right;
}
%link {
  @extend %m-b-20, %m-t-10;
}
%l-s-t-n {
  list-style-type: none;
}
%no-link-focus {
  @extend %bs-none, %outline-none, %t-d-n;
}
.no-padding {
  @extend %p-0;
}
%m-0 {
  margin: 0 !important;
}
%m-0-a {
  margin: 0 auto;
}
%m-a {
  margin: auto;
}
%m-b-0 {
  margin-bottom: 0px;
}
%m-b-5 {
  margin-bottom: 5px;
}
%m-b-10 {
  margin-bottom: 10px;
}
%m-b-20 {
  margin-bottom: 20px;
}
%m-b-25 {
  margin-bottom: 25px;
}
%m-h-1 {
  min-height: 1px;
}
.m-l-5 {
  margin-left: 5px;
}
%m-l-10 {
  margin-left: 10px;
}
%m-l-20 {
  margin-left: 20px;
}
%m-r-5 {
  margin-right: 5px;
}
%m-r-10 {
  margin-right: 10px;
}
%m-r-15 {
  margin-right: 15px;
}
%m-t-0 {
  margin-top: 0;
}
%m-t-5 {
  margin-top: 5px;
}
%m-t-10 {
  margin-top: 10px;
}
%m-t-20 {
  margin-top: 20px;
}
%no-margin {
  margin: 0 !important;
}
%no-padding {
  padding: 0 !important;
}
%outline-none {
  outline: none !important;
}
%p-0 {
  padding: 0;
}
%p-a {
  position: absolute;
}
%pb-0 {
  padding-bottom: 0;
}
%p-25 {
  padding: 25px;
}
%p-f {
  position: fixed;
}
%p-r {
  position: relative;
}
%p-t-5 {
  padding-top: 5px;
}
%p-t-10 {
  padding-top: 10px;
}
%p-t-20 {
  padding-top: 20px !important;
}
%pl-5 {
  padding-left: 5px;
}
%pl-10 {
  padding-left: 10px;
}
%pr-10 {
  padding-right: 10px;
}
%t-a-c {
  text-align: center;
}
%t-d-n {
  text-decoration: none;
}
%t-t-c {
  text-transform: capitalize;
}
%t-t-l {
  text-transform: lowercase;
}
%t-t-n {
  text-transform: none;
}
%t-t-u {
  text-transform: uppercase;
}
